@body-bg:               #f9f9f9;

@font-size-base:          14px;

@brand-accent:           #3498db;

@state-success-bg:       #dff0d8;

@state-info-bg:          #d9edf7;

@state-warning-bg:       #fcf8e3;

@state-danger-bg:        #f2dede;

//
// Highlights
// --------------------------------------------------

@highlight-hover-bg: mix(white, @brand-accent, 13%);
@highlight-hover-text: #fff;
@highlight-hover-text-shadow: fade(contrast(@highlight-hover-text, black, white), 30%);

@highlight-active-bg: @brand-accent;
@highlight-active-text: #fff;
@highlight-active-text-shadow: fade(contrast(@highlight-active-text, black, white), 30%);

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    1.428571429;

//
// Breakpoints
// --------------------------------------------------

// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

//
// General
// --------------------------------------------------
@padding-standard:          20px;

@padding-base-vertical:     8px;
@padding-base-horizontal:   13px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@border-radius-base:        3px;
@border-radius-large:       6px;
@border-radius-small:       3px;


@angle-up: "\f106";
@angle-down: "\f107";
@angle-left: "\f104";
@angle-right: "\f105";

// Opacity

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

@table-cell-padding:            8px;
@table-condensed-cell-padding:  5px;

@table-bg:                      transparent;
@table-bg-accent:               #f9f9f9;
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

@table-border-color:            #ddd;

@color-list-active:                          #dddddd;
@color-list-hover:                           #dddddd;
@color-list-active-border:                   #e67e22;
@color-list-arrow:                           #cfcfcf;
@color-list-icon:                            #a1aab1;
@color-list-parent-bg:                       #ffffff;
@color-list-nav-arrow:                       #34495e;
@color-list-header-bg:                       transparent;
@color-list-head-bg:                         #ffffff;
@color-list-progress-bg:                     #0181b9;
@color-list-border:                          #D4D8DA;
@color-list-border-light:                    #eeeeee;
@color-list-text-head:                       #666666;
@color-list-text:                            #666666;
@color-list-text-active:                     #000000;
@color-list-stripe-active:                   #ff9933;
@color-list-accent:                          #ECF0F1;
@color-list-norecords-text:                  #555555;
@color-list-hover-bg:                        @highlight-hover-bg;
@color-list-hover-text:                      @highlight-hover-text;
@color-list-active-bg:                       @highlight-active-bg;
@color-list-active-text:                     @highlight-active-text;
@color-list-active-sort:                     #c63e26;
@color-list-grid:                            #E4E7E8;

@color-status-list-text:                     #7e8c8d;
