.radio label,
.checkbox label {
  min-height: initial !important;
  padding-left: auto;
}
.oc-icon-glass:before,
.icon-glass:before {
  content: "\f000";
}
.oc-icon-music:before,
.icon-music:before {
  content: "\f001";
}
.oc-icon-search:before,
.icon-search:before {
  content: "\f002";
}
.oc-icon-envelope-o:before,
.icon-envelope-o:before {
  content: "\f003";
}
.oc-icon-heart:before,
.icon-heart:before {
  content: "\f004";
}
.oc-icon-star:before,
.icon-star:before {
  content: "\f005";
}
.oc-icon-star-o:before,
.icon-star-o:before {
  content: "\f006";
}
.oc-icon-user:before,
.icon-user:before {
  content: "\f007";
}
.oc-icon-film:before,
.icon-film:before {
  content: "\f008";
}
.oc-icon-th-large:before,
.icon-th-large:before {
  content: "\f009";
}
.oc-icon-th:before,
.icon-th:before {
  content: "\f00a";
}
.oc-icon-th-list:before,
.icon-th-list:before {
  content: "\f00b";
}
.oc-icon-check:before,
.icon-check:before {
  content: "\f00c";
}
.oc-icon-remove:before,
.icon-remove:before,
.oc-icon-close:before,
.icon-close:before,
.oc-icon-times:before,
.icon-times:before {
  content: "\f00d";
}
.oc-icon-search-plus:before,
.icon-search-plus:before {
  content: "\f00e";
}
.oc-icon-search-minus:before,
.icon-search-minus:before {
  content: "\f010";
}
.oc-icon-power-off:before,
.icon-power-off:before {
  content: "\f011";
}
.oc-icon-signal:before,
.icon-signal:before {
  content: "\f012";
}
.oc-icon-gear:before,
.icon-gear:before,
.oc-icon-cog:before,
.icon-cog:before {
  content: "\f013";
}
.oc-icon-trash-o:before,
.icon-trash-o:before {
  content: "\f014";
}
.oc-icon-home:before,
.icon-home:before {
  content: "\f015";
}
.oc-icon-file-o:before,
.icon-file-o:before {
  content: "\f016";
}
.oc-icon-clock-o:before,
.icon-clock-o:before {
  content: "\f017";
}
.oc-icon-road:before,
.icon-road:before {
  content: "\f018";
}
.oc-icon-download:before,
.icon-download:before {
  content: "\f019";
}
.oc-icon-arrow-circle-o-down:before,
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.oc-icon-arrow-circle-o-up:before,
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.oc-icon-inbox:before,
.icon-inbox:before {
  content: "\f01c";
}
.oc-icon-play-circle-o:before,
.icon-play-circle-o:before {
  content: "\f01d";
}
.oc-icon-rotate-right:before,
.icon-rotate-right:before,
.oc-icon-repeat:before,
.icon-repeat:before {
  content: "\f01e";
}
.oc-icon-refresh:before,
.icon-refresh:before {
  content: "\f021";
}
.oc-icon-list-alt:before,
.icon-list-alt:before {
  content: "\f022";
}
.oc-icon-lock:before,
.icon-lock:before {
  content: "\f023";
}
.oc-icon-flag:before,
.icon-flag:before {
  content: "\f024";
}
.oc-icon-headphones:before,
.icon-headphones:before {
  content: "\f025";
}
.oc-icon-volume-off:before,
.icon-volume-off:before {
  content: "\f026";
}
.oc-icon-volume-down:before,
.icon-volume-down:before {
  content: "\f027";
}
.oc-icon-volume-up:before,
.icon-volume-up:before {
  content: "\f028";
}
.oc-icon-qrcode:before,
.icon-qrcode:before {
  content: "\f029";
}
.oc-icon-barcode:before,
.icon-barcode:before {
  content: "\f02a";
}
.oc-icon-tag:before,
.icon-tag:before {
  content: "\f02b";
}
.oc-icon-tags:before,
.icon-tags:before {
  content: "\f02c";
}
.oc-icon-book:before,
.icon-book:before {
  content: "\f02d";
}
.oc-icon-bookmark:before,
.icon-bookmark:before {
  content: "\f02e";
}
.oc-icon-print:before,
.icon-print:before {
  content: "\f02f";
}
.oc-icon-camera:before,
.icon-camera:before {
  content: "\f030";
}
.oc-icon-font:before,
.icon-font:before {
  content: "\f031";
}
.oc-icon-bold:before,
.icon-bold:before {
  content: "\f032";
}
.oc-icon-italic:before,
.icon-italic:before {
  content: "\f033";
}
.oc-icon-text-height:before,
.icon-text-height:before {
  content: "\f034";
}
.oc-icon-text-width:before,
.icon-text-width:before {
  content: "\f035";
}
.oc-icon-align-left:before,
.icon-align-left:before {
  content: "\f036";
}
.oc-icon-align-center:before,
.icon-align-center:before {
  content: "\f037";
}
.oc-icon-align-right:before,
.icon-align-right:before {
  content: "\f038";
}
.oc-icon-align-justify:before,
.icon-align-justify:before {
  content: "\f039";
}
.oc-icon-list:before,
.icon-list:before {
  content: "\f03a";
}
.oc-icon-dedent:before,
.icon-dedent:before,
.oc-icon-outdent:before,
.icon-outdent:before {
  content: "\f03b";
}
.oc-icon-indent:before,
.icon-indent:before {
  content: "\f03c";
}
.oc-icon-video-camera:before,
.icon-video-camera:before {
  content: "\f03d";
}
.oc-icon-photo:before,
.icon-photo:before,
.oc-icon-image:before,
.icon-image:before,
.oc-icon-picture-o:before,
.icon-picture-o:before {
  content: "\f03e";
}
.oc-icon-pencil:before,
.icon-pencil:before {
  content: "\f040";
}
.oc-icon-map-marker:before,
.icon-map-marker:before {
  content: "\f041";
}
.oc-icon-adjust:before,
.icon-adjust:before {
  content: "\f042";
}
.oc-icon-tint:before,
.icon-tint:before {
  content: "\f043";
}
.oc-icon-edit:before,
.icon-edit:before,
.oc-icon-pencil-square-o:before,
.icon-pencil-square-o:before {
  content: "\f044";
}
.oc-icon-share-square-o:before,
.icon-share-square-o:before {
  content: "\f045";
}
.oc-icon-check-square-o:before,
.icon-check-square-o:before {
  content: "\f046";
}
.oc-icon-arrows:before,
.icon-arrows:before {
  content: "\f047";
}
.oc-icon-step-backward:before,
.icon-step-backward:before {
  content: "\f048";
}
.oc-icon-fast-backward:before,
.icon-fast-backward:before {
  content: "\f049";
}
.oc-icon-backward:before,
.icon-backward:before {
  content: "\f04a";
}
.oc-icon-play:before,
.icon-play:before {
  content: "\f04b";
}
.oc-icon-pause:before,
.icon-pause:before {
  content: "\f04c";
}
.oc-icon-stop:before,
.icon-stop:before {
  content: "\f04d";
}
.oc-icon-forward:before,
.icon-forward:before {
  content: "\f04e";
}
.oc-icon-fast-forward:before,
.icon-fast-forward:before {
  content: "\f050";
}
.oc-icon-step-forward:before,
.icon-step-forward:before {
  content: "\f051";
}
.oc-icon-eject:before,
.icon-eject:before {
  content: "\f052";
}
.oc-icon-chevron-left:before,
.icon-chevron-left:before {
  content: "\f053";
}
.oc-icon-chevron-right:before,
.icon-chevron-right:before {
  content: "\f054";
}
.oc-icon-plus-circle:before,
.icon-plus-circle:before {
  content: "\f055";
}
.oc-icon-minus-circle:before,
.icon-minus-circle:before {
  content: "\f056";
}
.oc-icon-times-circle:before,
.icon-times-circle:before {
  content: "\f057";
}
.oc-icon-check-circle:before,
.icon-check-circle:before {
  content: "\f058";
}
.oc-icon-question-circle:before,
.icon-question-circle:before {
  content: "\f059";
}
.oc-icon-info-circle:before,
.icon-info-circle:before {
  content: "\f05a";
}
.oc-icon-crosshairs:before,
.icon-crosshairs:before {
  content: "\f05b";
}
.oc-icon-times-circle-o:before,
.icon-times-circle-o:before {
  content: "\f05c";
}
.oc-icon-check-circle-o:before,
.icon-check-circle-o:before {
  content: "\f05d";
}
.oc-icon-ban:before,
.icon-ban:before {
  content: "\f05e";
}
.oc-icon-arrow-left:before,
.icon-arrow-left:before {
  content: "\f060";
}
.oc-icon-arrow-right:before,
.icon-arrow-right:before {
  content: "\f061";
}
.oc-icon-arrow-up:before,
.icon-arrow-up:before {
  content: "\f062";
}
.oc-icon-arrow-down:before,
.icon-arrow-down:before {
  content: "\f063";
}
.oc-icon-mail-forward:before,
.icon-mail-forward:before,
.oc-icon-share:before,
.icon-share:before {
  content: "\f064";
}
.oc-icon-expand:before,
.icon-expand:before {
  content: "\f065";
}
.oc-icon-compress:before,
.icon-compress:before {
  content: "\f066";
}
.oc-icon-plus:before,
.icon-plus:before {
  content: "\f067";
}
.oc-icon-minus:before,
.icon-minus:before {
  content: "\f068";
}
.oc-icon-asterisk:before,
.icon-asterisk:before {
  content: "\f069";
}
.oc-icon-exclamation-circle:before,
.icon-exclamation-circle:before {
  content: "\f06a";
}
.oc-icon-gift:before,
.icon-gift:before {
  content: "\f06b";
}
.oc-icon-leaf:before,
.icon-leaf:before {
  content: "\f06c";
}
.oc-icon-fire:before,
.icon-fire:before {
  content: "\f06d";
}
.oc-icon-eye:before,
.icon-eye:before {
  content: "\f06e";
}
.oc-icon-eye-slash:before,
.icon-eye-slash:before {
  content: "\f070";
}
.oc-icon-warning:before,
.icon-warning:before,
.oc-icon-exclamation-triangle:before,
.icon-exclamation-triangle:before {
  content: "\f071";
}
.oc-icon-plane:before,
.icon-plane:before {
  content: "\f072";
}
.oc-icon-calendar:before,
.icon-calendar:before {
  content: "\f073";
}
.oc-icon-random:before,
.icon-random:before {
  content: "\f074";
}
.oc-icon-comment:before,
.icon-comment:before {
  content: "\f075";
}
.oc-icon-magnet:before,
.icon-magnet:before {
  content: "\f076";
}
.oc-icon-chevron-up:before,
.icon-chevron-up:before {
  content: "\f077";
}
.oc-icon-chevron-down:before,
.icon-chevron-down:before {
  content: "\f078";
}
.oc-icon-retweet:before,
.icon-retweet:before {
  content: "\f079";
}
.oc-icon-shopping-cart:before,
.icon-shopping-cart:before {
  content: "\f07a";
}
.oc-icon-folder:before,
.icon-folder:before {
  content: "\f07b";
}
.oc-icon-folder-open:before,
.icon-folder-open:before {
  content: "\f07c";
}
.oc-icon-arrows-v:before,
.icon-arrows-v:before {
  content: "\f07d";
}
.oc-icon-arrows-h:before,
.icon-arrows-h:before {
  content: "\f07e";
}
.oc-icon-bar-chart-o:before,
.icon-bar-chart-o:before,
.oc-icon-bar-chart:before,
.icon-bar-chart:before {
  content: "\f080";
}
.oc-icon-twitter-square:before,
.icon-twitter-square:before {
  content: "\f081";
}
.oc-icon-facebook-square:before,
.icon-facebook-square:before {
  content: "\f082";
}
.oc-icon-camera-retro:before,
.icon-camera-retro:before {
  content: "\f083";
}
.oc-icon-key:before,
.icon-key:before {
  content: "\f084";
}
.oc-icon-gears:before,
.icon-gears:before,
.oc-icon-cogs:before,
.icon-cogs:before {
  content: "\f085";
}
.oc-icon-comments:before,
.icon-comments:before {
  content: "\f086";
}
.oc-icon-thumbs-o-up:before,
.icon-thumbs-o-up:before {
  content: "\f087";
}
.oc-icon-thumbs-o-down:before,
.icon-thumbs-o-down:before {
  content: "\f088";
}
.oc-icon-star-half:before,
.icon-star-half:before {
  content: "\f089";
}
.oc-icon-heart-o:before,
.icon-heart-o:before {
  content: "\f08a";
}
.oc-icon-sign-out:before,
.icon-sign-out:before {
  content: "\f08b";
}
.oc-icon-linkedin-square:before,
.icon-linkedin-square:before {
  content: "\f08c";
}
.oc-icon-thumb-tack:before,
.icon-thumb-tack:before {
  content: "\f08d";
}
.oc-icon-external-link:before,
.icon-external-link:before {
  content: "\f08e";
}
.oc-icon-sign-in:before,
.icon-sign-in:before {
  content: "\f090";
}
.oc-icon-trophy:before,
.icon-trophy:before {
  content: "\f091";
}
.oc-icon-github-square:before,
.icon-github-square:before {
  content: "\f092";
}
.oc-icon-upload:before,
.icon-upload:before {
  content: "\f093";
}
.oc-icon-lemon-o:before,
.icon-lemon-o:before {
  content: "\f094";
}
.oc-icon-phone:before,
.icon-phone:before {
  content: "\f095";
}
.oc-icon-square-o:before,
.icon-square-o:before {
  content: "\f096";
}
.oc-icon-bookmark-o:before,
.icon-bookmark-o:before {
  content: "\f097";
}
.oc-icon-phone-square:before,
.icon-phone-square:before {
  content: "\f098";
}
.oc-icon-twitter:before,
.icon-twitter:before {
  content: "\f099";
}
.oc-icon-facebook-f:before,
.icon-facebook-f:before,
.oc-icon-facebook:before,
.icon-facebook:before {
  content: "\f09a";
}
.oc-icon-github:before,
.icon-github:before {
  content: "\f09b";
}
.oc-icon-unlock:before,
.icon-unlock:before {
  content: "\f09c";
}
.oc-icon-credit-card:before,
.icon-credit-card:before {
  content: "\f09d";
}
.oc-icon-feed:before,
.icon-feed:before,
.oc-icon-rss:before,
.icon-rss:before {
  content: "\f09e";
}
.oc-icon-hdd-o:before,
.icon-hdd-o:before {
  content: "\f0a0";
}
.oc-icon-bullhorn:before,
.icon-bullhorn:before {
  content: "\f0a1";
}
.oc-icon-bell:before,
.icon-bell:before {
  content: "\f0f3";
}
.oc-icon-certificate:before,
.icon-certificate:before {
  content: "\f0a3";
}
.oc-icon-hand-o-right:before,
.icon-hand-o-right:before {
  content: "\f0a4";
}
.oc-icon-hand-o-left:before,
.icon-hand-o-left:before {
  content: "\f0a5";
}
.oc-icon-hand-o-up:before,
.icon-hand-o-up:before {
  content: "\f0a6";
}
.oc-icon-hand-o-down:before,
.icon-hand-o-down:before {
  content: "\f0a7";
}
.oc-icon-arrow-circle-left:before,
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.oc-icon-arrow-circle-right:before,
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.oc-icon-arrow-circle-up:before,
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.oc-icon-arrow-circle-down:before,
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.oc-icon-globe:before,
.icon-globe:before {
  content: "\f0ac";
}
.oc-icon-wrench:before,
.icon-wrench:before {
  content: "\f0ad";
}
.oc-icon-tasks:before,
.icon-tasks:before {
  content: "\f0ae";
}
.oc-icon-filter:before,
.icon-filter:before {
  content: "\f0b0";
}
.oc-icon-briefcase:before,
.icon-briefcase:before {
  content: "\f0b1";
}
.oc-icon-arrows-alt:before,
.icon-arrows-alt:before {
  content: "\f0b2";
}
.oc-icon-group:before,
.icon-group:before,
.oc-icon-users:before,
.icon-users:before {
  content: "\f0c0";
}
.oc-icon-chain:before,
.icon-chain:before,
.oc-icon-link:before,
.icon-link:before {
  content: "\f0c1";
}
.oc-icon-cloud:before,
.icon-cloud:before {
  content: "\f0c2";
}
.oc-icon-flask:before,
.icon-flask:before {
  content: "\f0c3";
}
.oc-icon-cut:before,
.icon-cut:before,
.oc-icon-scissors:before,
.icon-scissors:before {
  content: "\f0c4";
}
.oc-icon-copy:before,
.icon-copy:before,
.oc-icon-files-o:before,
.icon-files-o:before {
  content: "\f0c5";
}
.oc-icon-paperclip:before,
.icon-paperclip:before {
  content: "\f0c6";
}
.oc-icon-save:before,
.icon-save:before,
.oc-icon-floppy-o:before,
.icon-floppy-o:before {
  content: "\f0c7";
}
.oc-icon-square:before,
.icon-square:before {
  content: "\f0c8";
}
.oc-icon-navicon:before,
.icon-navicon:before,
.oc-icon-reorder:before,
.icon-reorder:before,
.oc-icon-bars:before,
.icon-bars:before {
  content: "\f0c9";
}
.oc-icon-list-ul:before,
.icon-list-ul:before {
  content: "\f0ca";
}
.oc-icon-list-ol:before,
.icon-list-ol:before {
  content: "\f0cb";
}
.oc-icon-strikethrough:before,
.icon-strikethrough:before {
  content: "\f0cc";
}
.oc-icon-underline:before,
.icon-underline:before {
  content: "\f0cd";
}
.oc-icon-table:before,
.icon-table:before {
  content: "\f0ce";
}
.oc-icon-magic:before,
.icon-magic:before {
  content: "\f0d0";
}
.oc-icon-truck:before,
.icon-truck:before {
  content: "\f0d1";
}
.oc-icon-pinterest:before,
.icon-pinterest:before {
  content: "\f0d2";
}
.oc-icon-pinterest-square:before,
.icon-pinterest-square:before {
  content: "\f0d3";
}
.oc-icon-google-plus-square:before,
.icon-google-plus-square:before {
  content: "\f0d4";
}
.oc-icon-google-plus:before,
.icon-google-plus:before {
  content: "\f0d5";
}
.oc-icon-money:before,
.icon-money:before {
  content: "\f0d6";
}
.oc-icon-caret-down:before,
.icon-caret-down:before {
  content: "\f0d7";
}
.oc-icon-caret-up:before,
.icon-caret-up:before {
  content: "\f0d8";
}
.oc-icon-caret-left:before,
.icon-caret-left:before {
  content: "\f0d9";
}
.oc-icon-caret-right:before,
.icon-caret-right:before {
  content: "\f0da";
}
.oc-icon-columns:before,
.icon-columns:before {
  content: "\f0db";
}
.oc-icon-unsorted:before,
.icon-unsorted:before,
.oc-icon-sort:before,
.icon-sort:before {
  content: "\f0dc";
}
.oc-icon-sort-down:before,
.icon-sort-down:before,
.oc-icon-sort-desc:before,
.icon-sort-desc:before {
  content: "\f0dd";
}
.oc-icon-sort-up:before,
.icon-sort-up:before,
.oc-icon-sort-asc:before,
.icon-sort-asc:before {
  content: "\f0de";
}
.oc-icon-envelope:before,
.icon-envelope:before {
  content: "\f0e0";
}
.oc-icon-linkedin:before,
.icon-linkedin:before {
  content: "\f0e1";
}
.oc-icon-rotate-left:before,
.icon-rotate-left:before,
.oc-icon-undo:before,
.icon-undo:before {
  content: "\f0e2";
}
.oc-icon-legal:before,
.icon-legal:before,
.oc-icon-gavel:before,
.icon-gavel:before {
  content: "\f0e3";
}
.oc-icon-dashboard:before,
.icon-dashboard:before,
.oc-icon-tachometer:before,
.icon-tachometer:before {
  content: "\f0e4";
}
.oc-icon-comment-o:before,
.icon-comment-o:before {
  content: "\f0e5";
}
.oc-icon-comments-o:before,
.icon-comments-o:before {
  content: "\f0e6";
}
.oc-icon-flash:before,
.icon-flash:before,
.oc-icon-bolt:before,
.icon-bolt:before {
  content: "\f0e7";
}
.oc-icon-sitemap:before,
.icon-sitemap:before {
  content: "\f0e8";
}
.oc-icon-umbrella:before,
.icon-umbrella:before {
  content: "\f0e9";
}
.oc-icon-paste:before,
.icon-paste:before,
.oc-icon-clipboard:before,
.icon-clipboard:before {
  content: "\f0ea";
}
.oc-icon-lightbulb-o:before,
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.oc-icon-exchange:before,
.icon-exchange:before {
  content: "\f0ec";
}
.oc-icon-cloud-download:before,
.icon-cloud-download:before {
  content: "\f0ed";
}
.oc-icon-cloud-upload:before,
.icon-cloud-upload:before {
  content: "\f0ee";
}
.oc-icon-user-md:before,
.icon-user-md:before {
  content: "\f0f0";
}
.oc-icon-stethoscope:before,
.icon-stethoscope:before {
  content: "\f0f1";
}
.oc-icon-suitcase:before,
.icon-suitcase:before {
  content: "\f0f2";
}
.oc-icon-bell-o:before,
.icon-bell-o:before {
  content: "\f0a2";
}
.oc-icon-coffee:before,
.icon-coffee:before {
  content: "\f0f4";
}
.oc-icon-cutlery:before,
.icon-cutlery:before {
  content: "\f0f5";
}
.oc-icon-file-text-o:before,
.icon-file-text-o:before {
  content: "\f0f6";
}
.oc-icon-building-o:before,
.icon-building-o:before {
  content: "\f0f7";
}
.oc-icon-hospital-o:before,
.icon-hospital-o:before {
  content: "\f0f8";
}
.oc-icon-ambulance:before,
.icon-ambulance:before {
  content: "\f0f9";
}
.oc-icon-medkit:before,
.icon-medkit:before {
  content: "\f0fa";
}
.oc-icon-fighter-jet:before,
.icon-fighter-jet:before {
  content: "\f0fb";
}
.oc-icon-beer:before,
.icon-beer:before {
  content: "\f0fc";
}
.oc-icon-h-square:before,
.icon-h-square:before {
  content: "\f0fd";
}
.oc-icon-plus-square:before,
.icon-plus-square:before {
  content: "\f0fe";
}
.oc-icon-angle-double-left:before,
.icon-angle-double-left:before {
  content: "\f100";
}
.oc-icon-angle-double-right:before,
.icon-angle-double-right:before {
  content: "\f101";
}
.oc-icon-angle-double-up:before,
.icon-angle-double-up:before {
  content: "\f102";
}
.oc-icon-angle-double-down:before,
.icon-angle-double-down:before {
  content: "\f103";
}
.oc-icon-angle-left:before,
.icon-angle-left:before {
  content: "\f104";
}
.oc-icon-angle-right:before,
.icon-angle-right:before {
  content: "\f105";
}
.oc-icon-angle-up:before,
.icon-angle-up:before {
  content: "\f106";
}
.oc-icon-angle-down:before,
.icon-angle-down:before {
  content: "\f107";
}
.oc-icon-desktop:before,
.icon-desktop:before {
  content: "\f108";
}
.oc-icon-laptop:before,
.icon-laptop:before {
  content: "\f109";
}
.oc-icon-tablet:before,
.icon-tablet:before {
  content: "\f10a";
}
.oc-icon-mobile-phone:before,
.icon-mobile-phone:before,
.oc-icon-mobile:before,
.icon-mobile:before {
  content: "\f10b";
}
.oc-icon-circle-o:before,
.icon-circle-o:before {
  content: "\f10c";
}
.oc-icon-quote-left:before,
.icon-quote-left:before {
  content: "\f10d";
}
.oc-icon-quote-right:before,
.icon-quote-right:before {
  content: "\f10e";
}
.oc-icon-spinner:before,
.icon-spinner:before {
  content: "\f110";
}
.oc-icon-circle:before,
.icon-circle:before {
  content: "\f111";
}
.oc-icon-mail-reply:before,
.icon-mail-reply:before,
.oc-icon-reply:before,
.icon-reply:before {
  content: "\f112";
}
.oc-icon-github-alt:before,
.icon-github-alt:before {
  content: "\f113";
}
.oc-icon-folder-o:before,
.icon-folder-o:before {
  content: "\f114";
}
.oc-icon-folder-open-o:before,
.icon-folder-open-o:before {
  content: "\f115";
}
.oc-icon-smile-o:before,
.icon-smile-o:before {
  content: "\f118";
}
.oc-icon-frown-o:before,
.icon-frown-o:before {
  content: "\f119";
}
.oc-icon-meh-o:before,
.icon-meh-o:before {
  content: "\f11a";
}
.oc-icon-gamepad:before,
.icon-gamepad:before {
  content: "\f11b";
}
.oc-icon-keyboard-o:before,
.icon-keyboard-o:before {
  content: "\f11c";
}
.oc-icon-flag-o:before,
.icon-flag-o:before {
  content: "\f11d";
}
.oc-icon-flag-checkered:before,
.icon-flag-checkered:before {
  content: "\f11e";
}
.oc-icon-terminal:before,
.icon-terminal:before {
  content: "\f120";
}
.oc-icon-code:before,
.icon-code:before {
  content: "\f121";
}
.oc-icon-mail-reply-all:before,
.icon-mail-reply-all:before,
.oc-icon-reply-all:before,
.icon-reply-all:before {
  content: "\f122";
}
.oc-icon-star-half-empty:before,
.icon-star-half-empty:before,
.oc-icon-star-half-full:before,
.icon-star-half-full:before,
.oc-icon-star-half-o:before,
.icon-star-half-o:before {
  content: "\f123";
}
.oc-icon-location-arrow:before,
.icon-location-arrow:before {
  content: "\f124";
}
.oc-icon-crop:before,
.icon-crop:before {
  content: "\f125";
}
.oc-icon-code-fork:before,
.icon-code-fork:before {
  content: "\f126";
}
.oc-icon-unlink:before,
.icon-unlink:before,
.oc-icon-chain-broken:before,
.icon-chain-broken:before {
  content: "\f127";
}
.oc-icon-question:before,
.icon-question:before {
  content: "\f128";
}
.oc-icon-info:before,
.icon-info:before {
  content: "\f129";
}
.oc-icon-exclamation:before,
.icon-exclamation:before {
  content: "\f12a";
}
.oc-icon-superscript:before,
.icon-superscript:before {
  content: "\f12b";
}
.oc-icon-subscript:before,
.icon-subscript:before {
  content: "\f12c";
}
.oc-icon-eraser:before,
.icon-eraser:before {
  content: "\f12d";
}
.oc-icon-puzzle-piece:before,
.icon-puzzle-piece:before {
  content: "\f12e";
}
.oc-icon-microphone:before,
.icon-microphone:before {
  content: "\f130";
}
.oc-icon-microphone-slash:before,
.icon-microphone-slash:before {
  content: "\f131";
}
.oc-icon-shield:before,
.icon-shield:before {
  content: "\f132";
}
.oc-icon-calendar-o:before,
.icon-calendar-o:before {
  content: "\f133";
}
.oc-icon-fire-extinguisher:before,
.icon-fire-extinguisher:before {
  content: "\f134";
}
.oc-icon-rocket:before,
.icon-rocket:before {
  content: "\f135";
}
.oc-icon-maxcdn:before,
.icon-maxcdn:before {
  content: "\f136";
}
.oc-icon-chevron-circle-left:before,
.icon-chevron-circle-left:before {
  content: "\f137";
}
.oc-icon-chevron-circle-right:before,
.icon-chevron-circle-right:before {
  content: "\f138";
}
.oc-icon-chevron-circle-up:before,
.icon-chevron-circle-up:before {
  content: "\f139";
}
.oc-icon-chevron-circle-down:before,
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.oc-icon-html5:before,
.icon-html5:before {
  content: "\f13b";
}
.oc-icon-css3:before,
.icon-css3:before {
  content: "\f13c";
}
.oc-icon-anchor:before,
.icon-anchor:before {
  content: "\f13d";
}
.oc-icon-unlock-alt:before,
.icon-unlock-alt:before {
  content: "\f13e";
}
.oc-icon-bullseye:before,
.icon-bullseye:before {
  content: "\f140";
}
.oc-icon-ellipsis-h:before,
.icon-ellipsis-h:before {
  content: "\f141";
}
.oc-icon-ellipsis-v:before,
.icon-ellipsis-v:before {
  content: "\f142";
}
.oc-icon-rss-square:before,
.icon-rss-square:before {
  content: "\f143";
}
.oc-icon-play-circle:before,
.icon-play-circle:before {
  content: "\f144";
}
.oc-icon-ticket:before,
.icon-ticket:before {
  content: "\f145";
}
.oc-icon-minus-square:before,
.icon-minus-square:before {
  content: "\f146";
}
.oc-icon-minus-square-o:before,
.icon-minus-square-o:before {
  content: "\f147";
}
.oc-icon-level-up:before,
.icon-level-up:before {
  content: "\f148";
}
.oc-icon-level-down:before,
.icon-level-down:before {
  content: "\f149";
}
.oc-icon-check-square:before,
.icon-check-square:before {
  content: "\f14a";
}
.oc-icon-pencil-square:before,
.icon-pencil-square:before {
  content: "\f14b";
}
.oc-icon-external-link-square:before,
.icon-external-link-square:before {
  content: "\f14c";
}
.oc-icon-share-square:before,
.icon-share-square:before {
  content: "\f14d";
}
.oc-icon-compass:before,
.icon-compass:before {
  content: "\f14e";
}
.oc-icon-toggle-down:before,
.icon-toggle-down:before,
.oc-icon-caret-square-o-down:before,
.icon-caret-square-o-down:before {
  content: "\f150";
}
.oc-icon-toggle-up:before,
.icon-toggle-up:before,
.oc-icon-caret-square-o-up:before,
.icon-caret-square-o-up:before {
  content: "\f151";
}
.oc-icon-toggle-right:before,
.icon-toggle-right:before,
.oc-icon-caret-square-o-right:before,
.icon-caret-square-o-right:before {
  content: "\f152";
}
.oc-icon-euro:before,
.icon-euro:before,
.oc-icon-eur:before,
.icon-eur:before {
  content: "\f153";
}
.oc-icon-gbp:before,
.icon-gbp:before {
  content: "\f154";
}
.oc-icon-dollar:before,
.icon-dollar:before,
.oc-icon-usd:before,
.icon-usd:before {
  content: "\f155";
}
.oc-icon-rupee:before,
.icon-rupee:before,
.oc-icon-inr:before,
.icon-inr:before {
  content: "\f156";
}
.oc-icon-cny:before,
.icon-cny:before,
.oc-icon-rmb:before,
.icon-rmb:before,
.oc-icon-yen:before,
.icon-yen:before,
.oc-icon-jpy:before,
.icon-jpy:before {
  content: "\f157";
}
.oc-icon-ruble:before,
.icon-ruble:before,
.oc-icon-rouble:before,
.icon-rouble:before,
.oc-icon-rub:before,
.icon-rub:before {
  content: "\f158";
}
.oc-icon-won:before,
.icon-won:before,
.oc-icon-krw:before,
.icon-krw:before {
  content: "\f159";
}
.oc-icon-bitcoin:before,
.icon-bitcoin:before,
.oc-icon-btc:before,
.icon-btc:before {
  content: "\f15a";
}
.oc-icon-file:before,
.icon-file:before {
  content: "\f15b";
}
.oc-icon-file-text:before,
.icon-file-text:before {
  content: "\f15c";
}
.oc-icon-sort-alpha-asc:before,
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.oc-icon-sort-alpha-desc:before,
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.oc-icon-sort-amount-asc:before,
.icon-sort-amount-asc:before {
  content: "\f160";
}
.oc-icon-sort-amount-desc:before,
.icon-sort-amount-desc:before {
  content: "\f161";
}
.oc-icon-sort-numeric-asc:before,
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.oc-icon-sort-numeric-desc:before,
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.oc-icon-thumbs-up:before,
.icon-thumbs-up:before {
  content: "\f164";
}
.oc-icon-thumbs-down:before,
.icon-thumbs-down:before {
  content: "\f165";
}
.oc-icon-youtube-square:before,
.icon-youtube-square:before {
  content: "\f166";
}
.oc-icon-youtube:before,
.icon-youtube:before {
  content: "\f167";
}
.oc-icon-xing:before,
.icon-xing:before {
  content: "\f168";
}
.oc-icon-xing-square:before,
.icon-xing-square:before {
  content: "\f169";
}
.oc-icon-youtube-play:before,
.icon-youtube-play:before {
  content: "\f16a";
}
.oc-icon-dropbox:before,
.icon-dropbox:before {
  content: "\f16b";
}
.oc-icon-stack-overflow:before,
.icon-stack-overflow:before {
  content: "\f16c";
}
.oc-icon-instagram:before,
.icon-instagram:before {
  content: "\f16d";
}
.oc-icon-flickr:before,
.icon-flickr:before {
  content: "\f16e";
}
.oc-icon-adn:before,
.icon-adn:before {
  content: "\f170";
}
.oc-icon-bitbucket:before,
.icon-bitbucket:before {
  content: "\f171";
}
.oc-icon-bitbucket-square:before,
.icon-bitbucket-square:before {
  content: "\f172";
}
.oc-icon-tumblr:before,
.icon-tumblr:before {
  content: "\f173";
}
.oc-icon-tumblr-square:before,
.icon-tumblr-square:before {
  content: "\f174";
}
.oc-icon-long-arrow-down:before,
.icon-long-arrow-down:before {
  content: "\f175";
}
.oc-icon-long-arrow-up:before,
.icon-long-arrow-up:before {
  content: "\f176";
}
.oc-icon-long-arrow-left:before,
.icon-long-arrow-left:before {
  content: "\f177";
}
.oc-icon-long-arrow-right:before,
.icon-long-arrow-right:before {
  content: "\f178";
}
.oc-icon-apple:before,
.icon-apple:before {
  content: "\f179";
}
.oc-icon-windows:before,
.icon-windows:before {
  content: "\f17a";
}
.oc-icon-android:before,
.icon-android:before {
  content: "\f17b";
}
.oc-icon-linux:before,
.icon-linux:before {
  content: "\f17c";
}
.oc-icon-dribbble:before,
.icon-dribbble:before {
  content: "\f17d";
}
.oc-icon-skype:before,
.icon-skype:before {
  content: "\f17e";
}
.oc-icon-foursquare:before,
.icon-foursquare:before {
  content: "\f180";
}
.oc-icon-trello:before,
.icon-trello:before {
  content: "\f181";
}
.oc-icon-female:before,
.icon-female:before {
  content: "\f182";
}
.oc-icon-male:before,
.icon-male:before {
  content: "\f183";
}
.oc-icon-gittip:before,
.icon-gittip:before,
.oc-icon-gratipay:before,
.icon-gratipay:before {
  content: "\f184";
}
.oc-icon-sun-o:before,
.icon-sun-o:before {
  content: "\f185";
}
.oc-icon-moon-o:before,
.icon-moon-o:before {
  content: "\f186";
}
.oc-icon-archive:before,
.icon-archive:before {
  content: "\f187";
}
.oc-icon-bug:before,
.icon-bug:before {
  content: "\f188";
}
.oc-icon-vk:before,
.icon-vk:before {
  content: "\f189";
}
.oc-icon-weibo:before,
.icon-weibo:before {
  content: "\f18a";
}
.oc-icon-renren:before,
.icon-renren:before {
  content: "\f18b";
}
.oc-icon-pagelines:before,
.icon-pagelines:before {
  content: "\f18c";
}
.oc-icon-stack-exchange:before,
.icon-stack-exchange:before {
  content: "\f18d";
}
.oc-icon-arrow-circle-o-right:before,
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.oc-icon-arrow-circle-o-left:before,
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.oc-icon-toggle-left:before,
.icon-toggle-left:before,
.oc-icon-caret-square-o-left:before,
.icon-caret-square-o-left:before {
  content: "\f191";
}
.oc-icon-dot-circle-o:before,
.icon-dot-circle-o:before {
  content: "\f192";
}
.oc-icon-wheelchair:before,
.icon-wheelchair:before {
  content: "\f193";
}
.oc-icon-vimeo-square:before,
.icon-vimeo-square:before {
  content: "\f194";
}
.oc-icon-turkish-lira:before,
.icon-turkish-lira:before,
.oc-icon-try:before,
.icon-try:before {
  content: "\f195";
}
.oc-icon-plus-square-o:before,
.icon-plus-square-o:before {
  content: "\f196";
}
.oc-icon-space-shuttle:before,
.icon-space-shuttle:before {
  content: "\f197";
}
.oc-icon-slack:before,
.icon-slack:before {
  content: "\f198";
}
.oc-icon-envelope-square:before,
.icon-envelope-square:before {
  content: "\f199";
}
.oc-icon-wordpress:before,
.icon-wordpress:before {
  content: "\f19a";
}
.oc-icon-openid:before,
.icon-openid:before {
  content: "\f19b";
}
.oc-icon-institution:before,
.icon-institution:before,
.oc-icon-bank:before,
.icon-bank:before,
.oc-icon-university:before,
.icon-university:before {
  content: "\f19c";
}
.oc-icon-mortar-board:before,
.icon-mortar-board:before,
.oc-icon-graduation-cap:before,
.icon-graduation-cap:before {
  content: "\f19d";
}
.oc-icon-yahoo:before,
.icon-yahoo:before {
  content: "\f19e";
}
.oc-icon-google:before,
.icon-google:before {
  content: "\f1a0";
}
.oc-icon-reddit:before,
.icon-reddit:before {
  content: "\f1a1";
}
.oc-icon-reddit-square:before,
.icon-reddit-square:before {
  content: "\f1a2";
}
.oc-icon-stumbleupon-circle:before,
.icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.oc-icon-stumbleupon:before,
.icon-stumbleupon:before {
  content: "\f1a4";
}
.oc-icon-delicious:before,
.icon-delicious:before {
  content: "\f1a5";
}
.oc-icon-digg:before,
.icon-digg:before {
  content: "\f1a6";
}
.oc-icon-pied-piper:before,
.icon-pied-piper:before {
  content: "\f1a7";
}
.oc-icon-pied-piper-alt:before,
.icon-pied-piper-alt:before {
  content: "\f1a8";
}
.oc-icon-drupal:before,
.icon-drupal:before {
  content: "\f1a9";
}
.oc-icon-joomla:before,
.icon-joomla:before {
  content: "\f1aa";
}
.oc-icon-language:before,
.icon-language:before {
  content: "\f1ab";
}
.oc-icon-fax:before,
.icon-fax:before {
  content: "\f1ac";
}
.oc-icon-building:before,
.icon-building:before {
  content: "\f1ad";
}
.oc-icon-child:before,
.icon-child:before {
  content: "\f1ae";
}
.oc-icon-paw:before,
.icon-paw:before {
  content: "\f1b0";
}
.oc-icon-spoon:before,
.icon-spoon:before {
  content: "\f1b1";
}
.oc-icon-cube:before,
.icon-cube:before {
  content: "\f1b2";
}
.oc-icon-cubes:before,
.icon-cubes:before {
  content: "\f1b3";
}
.oc-icon-behance:before,
.icon-behance:before {
  content: "\f1b4";
}
.oc-icon-behance-square:before,
.icon-behance-square:before {
  content: "\f1b5";
}
.oc-icon-steam:before,
.icon-steam:before {
  content: "\f1b6";
}
.oc-icon-steam-square:before,
.icon-steam-square:before {
  content: "\f1b7";
}
.oc-icon-recycle:before,
.icon-recycle:before {
  content: "\f1b8";
}
.oc-icon-automobile:before,
.icon-automobile:before,
.oc-icon-car:before,
.icon-car:before {
  content: "\f1b9";
}
.oc-icon-cab:before,
.icon-cab:before,
.oc-icon-taxi:before,
.icon-taxi:before {
  content: "\f1ba";
}
.oc-icon-tree:before,
.icon-tree:before {
  content: "\f1bb";
}
.oc-icon-spotify:before,
.icon-spotify:before {
  content: "\f1bc";
}
.oc-icon-deviantart:before,
.icon-deviantart:before {
  content: "\f1bd";
}
.oc-icon-soundcloud:before,
.icon-soundcloud:before {
  content: "\f1be";
}
.oc-icon-database:before,
.icon-database:before {
  content: "\f1c0";
}
.oc-icon-file-pdf-o:before,
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.oc-icon-file-word-o:before,
.icon-file-word-o:before {
  content: "\f1c2";
}
.oc-icon-file-excel-o:before,
.icon-file-excel-o:before {
  content: "\f1c3";
}
.oc-icon-file-powerpoint-o:before,
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.oc-icon-file-photo-o:before,
.icon-file-photo-o:before,
.oc-icon-file-picture-o:before,
.icon-file-picture-o:before,
.oc-icon-file-image-o:before,
.icon-file-image-o:before {
  content: "\f1c5";
}
.oc-icon-file-zip-o:before,
.icon-file-zip-o:before,
.oc-icon-file-archive-o:before,
.icon-file-archive-o:before {
  content: "\f1c6";
}
.oc-icon-file-sound-o:before,
.icon-file-sound-o:before,
.oc-icon-file-audio-o:before,
.icon-file-audio-o:before {
  content: "\f1c7";
}
.oc-icon-file-movie-o:before,
.icon-file-movie-o:before,
.oc-icon-file-video-o:before,
.icon-file-video-o:before {
  content: "\f1c8";
}
.oc-icon-file-code-o:before,
.icon-file-code-o:before {
  content: "\f1c9";
}
.oc-icon-vine:before,
.icon-vine:before {
  content: "\f1ca";
}
.oc-icon-codepen:before,
.icon-codepen:before {
  content: "\f1cb";
}
.oc-icon-jsfiddle:before,
.icon-jsfiddle:before {
  content: "\f1cc";
}
.oc-icon-life-bouy:before,
.icon-life-bouy:before,
.oc-icon-life-buoy:before,
.icon-life-buoy:before,
.oc-icon-life-saver:before,
.icon-life-saver:before,
.oc-icon-support:before,
.icon-support:before,
.oc-icon-life-ring:before,
.icon-life-ring:before {
  content: "\f1cd";
}
.oc-icon-circle-o-notch:before,
.icon-circle-o-notch:before {
  content: "\f1ce";
}
.oc-icon-ra:before,
.icon-ra:before,
.oc-icon-rebel:before,
.icon-rebel:before {
  content: "\f1d0";
}
.oc-icon-ge:before,
.icon-ge:before,
.oc-icon-empire:before,
.icon-empire:before {
  content: "\f1d1";
}
.oc-icon-git-square:before,
.icon-git-square:before {
  content: "\f1d2";
}
.oc-icon-git:before,
.icon-git:before {
  content: "\f1d3";
}
.oc-icon-y-combinator-square:before,
.icon-y-combinator-square:before,
.oc-icon-yc-square:before,
.icon-yc-square:before,
.oc-icon-hacker-news:before,
.icon-hacker-news:before {
  content: "\f1d4";
}
.oc-icon-tencent-weibo:before,
.icon-tencent-weibo:before {
  content: "\f1d5";
}
.oc-icon-qq:before,
.icon-qq:before {
  content: "\f1d6";
}
.oc-icon-wechat:before,
.icon-wechat:before,
.oc-icon-weixin:before,
.icon-weixin:before {
  content: "\f1d7";
}
.oc-icon-send:before,
.icon-send:before,
.oc-icon-paper-plane:before,
.icon-paper-plane:before {
  content: "\f1d8";
}
.oc-icon-send-o:before,
.icon-send-o:before,
.oc-icon-paper-plane-o:before,
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.oc-icon-history:before,
.icon-history:before {
  content: "\f1da";
}
.oc-icon-circle-thin:before,
.icon-circle-thin:before {
  content: "\f1db";
}
.oc-icon-header:before,
.icon-header:before {
  content: "\f1dc";
}
.oc-icon-paragraph:before,
.icon-paragraph:before {
  content: "\f1dd";
}
.oc-icon-sliders:before,
.icon-sliders:before {
  content: "\f1de";
}
.oc-icon-share-alt:before,
.icon-share-alt:before {
  content: "\f1e0";
}
.oc-icon-share-alt-square:before,
.icon-share-alt-square:before {
  content: "\f1e1";
}
.oc-icon-bomb:before,
.icon-bomb:before {
  content: "\f1e2";
}
.oc-icon-soccer-ball-o:before,
.icon-soccer-ball-o:before,
.oc-icon-futbol-o:before,
.icon-futbol-o:before {
  content: "\f1e3";
}
.oc-icon-tty:before,
.icon-tty:before {
  content: "\f1e4";
}
.oc-icon-binoculars:before,
.icon-binoculars:before {
  content: "\f1e5";
}
.oc-icon-plug:before,
.icon-plug:before {
  content: "\f1e6";
}
.oc-icon-slideshare:before,
.icon-slideshare:before {
  content: "\f1e7";
}
.oc-icon-twitch:before,
.icon-twitch:before {
  content: "\f1e8";
}
.oc-icon-yelp:before,
.icon-yelp:before {
  content: "\f1e9";
}
.oc-icon-newspaper-o:before,
.icon-newspaper-o:before {
  content: "\f1ea";
}
.oc-icon-wifi:before,
.icon-wifi:before {
  content: "\f1eb";
}
.oc-icon-calculator:before,
.icon-calculator:before {
  content: "\f1ec";
}
.oc-icon-paypal:before,
.icon-paypal:before {
  content: "\f1ed";
}
.oc-icon-google-wallet:before,
.icon-google-wallet:before {
  content: "\f1ee";
}
.oc-icon-cc-visa:before,
.icon-cc-visa:before {
  content: "\f1f0";
}
.oc-icon-cc-mastercard:before,
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.oc-icon-cc-discover:before,
.icon-cc-discover:before {
  content: "\f1f2";
}
.oc-icon-cc-amex:before,
.icon-cc-amex:before {
  content: "\f1f3";
}
.oc-icon-cc-paypal:before,
.icon-cc-paypal:before {
  content: "\f1f4";
}
.oc-icon-cc-stripe:before,
.icon-cc-stripe:before {
  content: "\f1f5";
}
.oc-icon-bell-slash:before,
.icon-bell-slash:before {
  content: "\f1f6";
}
.oc-icon-bell-slash-o:before,
.icon-bell-slash-o:before {
  content: "\f1f7";
}
.oc-icon-trash:before,
.icon-trash:before {
  content: "\f1f8";
}
.oc-icon-copyright:before,
.icon-copyright:before {
  content: "\f1f9";
}
.oc-icon-at:before,
.icon-at:before {
  content: "\f1fa";
}
.oc-icon-eyedropper:before,
.icon-eyedropper:before {
  content: "\f1fb";
}
.oc-icon-paint-brush:before,
.icon-paint-brush:before {
  content: "\f1fc";
}
.oc-icon-birthday-cake:before,
.icon-birthday-cake:before {
  content: "\f1fd";
}
.oc-icon-area-chart:before,
.icon-area-chart:before {
  content: "\f1fe";
}
.oc-icon-pie-chart:before,
.icon-pie-chart:before {
  content: "\f200";
}
.oc-icon-line-chart:before,
.icon-line-chart:before {
  content: "\f201";
}
.oc-icon-lastfm:before,
.icon-lastfm:before {
  content: "\f202";
}
.oc-icon-lastfm-square:before,
.icon-lastfm-square:before {
  content: "\f203";
}
.oc-icon-toggle-off:before,
.icon-toggle-off:before {
  content: "\f204";
}
.oc-icon-toggle-on:before,
.icon-toggle-on:before {
  content: "\f205";
}
.oc-icon-bicycle:before,
.icon-bicycle:before {
  content: "\f206";
}
.oc-icon-bus:before,
.icon-bus:before {
  content: "\f207";
}
.oc-icon-ioxhost:before,
.icon-ioxhost:before {
  content: "\f208";
}
.oc-icon-angellist:before,
.icon-angellist:before {
  content: "\f209";
}
.oc-icon-cc:before,
.icon-cc:before {
  content: "\f20a";
}
.oc-icon-shekel:before,
.icon-shekel:before,
.oc-icon-sheqel:before,
.icon-sheqel:before,
.oc-icon-ils:before,
.icon-ils:before {
  content: "\f20b";
}
.oc-icon-meanpath:before,
.icon-meanpath:before {
  content: "\f20c";
}
.oc-icon-buysellads:before,
.icon-buysellads:before {
  content: "\f20d";
}
.oc-icon-connectdevelop:before,
.icon-connectdevelop:before {
  content: "\f20e";
}
.oc-icon-dashcube:before,
.icon-dashcube:before {
  content: "\f210";
}
.oc-icon-forumbee:before,
.icon-forumbee:before {
  content: "\f211";
}
.oc-icon-leanpub:before,
.icon-leanpub:before {
  content: "\f212";
}
.oc-icon-sellsy:before,
.icon-sellsy:before {
  content: "\f213";
}
.oc-icon-shirtsinbulk:before,
.icon-shirtsinbulk:before {
  content: "\f214";
}
.oc-icon-simplybuilt:before,
.icon-simplybuilt:before {
  content: "\f215";
}
.oc-icon-skyatlas:before,
.icon-skyatlas:before {
  content: "\f216";
}
.oc-icon-cart-plus:before,
.icon-cart-plus:before {
  content: "\f217";
}
.oc-icon-cart-arrow-down:before,
.icon-cart-arrow-down:before {
  content: "\f218";
}
.oc-icon-diamond:before,
.icon-diamond:before {
  content: "\f219";
}
.oc-icon-ship:before,
.icon-ship:before {
  content: "\f21a";
}
.oc-icon-user-secret:before,
.icon-user-secret:before {
  content: "\f21b";
}
.oc-icon-motorcycle:before,
.icon-motorcycle:before {
  content: "\f21c";
}
.oc-icon-street-view:before,
.icon-street-view:before {
  content: "\f21d";
}
.oc-icon-heartbeat:before,
.icon-heartbeat:before {
  content: "\f21e";
}
.oc-icon-venus:before,
.icon-venus:before {
  content: "\f221";
}
.oc-icon-mars:before,
.icon-mars:before {
  content: "\f222";
}
.oc-icon-mercury:before,
.icon-mercury:before {
  content: "\f223";
}
.oc-icon-intersex:before,
.icon-intersex:before,
.oc-icon-transgender:before,
.icon-transgender:before {
  content: "\f224";
}
.oc-icon-transgender-alt:before,
.icon-transgender-alt:before {
  content: "\f225";
}
.oc-icon-venus-double:before,
.icon-venus-double:before {
  content: "\f226";
}
.oc-icon-mars-double:before,
.icon-mars-double:before {
  content: "\f227";
}
.oc-icon-venus-mars:before,
.icon-venus-mars:before {
  content: "\f228";
}
.oc-icon-mars-stroke:before,
.icon-mars-stroke:before {
  content: "\f229";
}
.oc-icon-mars-stroke-v:before,
.icon-mars-stroke-v:before {
  content: "\f22a";
}
.oc-icon-mars-stroke-h:before,
.icon-mars-stroke-h:before {
  content: "\f22b";
}
.oc-icon-neuter:before,
.icon-neuter:before {
  content: "\f22c";
}
.oc-icon-genderless:before,
.icon-genderless:before {
  content: "\f22d";
}
.oc-icon-facebook-official:before,
.icon-facebook-official:before {
  content: "\f230";
}
.oc-icon-pinterest-p:before,
.icon-pinterest-p:before {
  content: "\f231";
}
.oc-icon-whatsapp:before,
.icon-whatsapp:before {
  content: "\f232";
}
.oc-icon-server:before,
.icon-server:before {
  content: "\f233";
}
.oc-icon-user-plus:before,
.icon-user-plus:before {
  content: "\f234";
}
.oc-icon-user-times:before,
.icon-user-times:before {
  content: "\f235";
}
.oc-icon-hotel:before,
.icon-hotel:before,
.oc-icon-bed:before,
.icon-bed:before {
  content: "\f236";
}
.oc-icon-viacoin:before,
.icon-viacoin:before {
  content: "\f237";
}
.oc-icon-train:before,
.icon-train:before {
  content: "\f238";
}
.oc-icon-subway:before,
.icon-subway:before {
  content: "\f239";
}
.oc-icon-medium:before,
.icon-medium:before {
  content: "\f23a";
}
.oc-icon-yc:before,
.icon-yc:before,
.oc-icon-y-combinator:before,
.icon-y-combinator:before {
  content: "\f23b";
}
.oc-icon-optin-monster:before,
.icon-optin-monster:before {
  content: "\f23c";
}
.oc-icon-opencart:before,
.icon-opencart:before {
  content: "\f23d";
}
.oc-icon-expeditedssl:before,
.icon-expeditedssl:before {
  content: "\f23e";
}
.oc-icon-battery-4:before,
.icon-battery-4:before,
.oc-icon-battery-full:before,
.icon-battery-full:before {
  content: "\f240";
}
.oc-icon-battery-3:before,
.icon-battery-3:before,
.oc-icon-battery-three-quarters:before,
.icon-battery-three-quarters:before {
  content: "\f241";
}
.oc-icon-battery-2:before,
.icon-battery-2:before,
.oc-icon-battery-half:before,
.icon-battery-half:before {
  content: "\f242";
}
.oc-icon-battery-1:before,
.icon-battery-1:before,
.oc-icon-battery-quarter:before,
.icon-battery-quarter:before {
  content: "\f243";
}
.oc-icon-battery-0:before,
.icon-battery-0:before,
.oc-icon-battery-empty:before,
.icon-battery-empty:before {
  content: "\f244";
}
.oc-icon-mouse-pointer:before,
.icon-mouse-pointer:before {
  content: "\f245";
}
.oc-icon-i-cursor:before,
.icon-i-cursor:before {
  content: "\f246";
}
.oc-icon-object-group:before,
.icon-object-group:before {
  content: "\f247";
}
.oc-icon-object-ungroup:before,
.icon-object-ungroup:before {
  content: "\f248";
}
.oc-icon-sticky-note:before,
.icon-sticky-note:before {
  content: "\f249";
}
.oc-icon-sticky-note-o:before,
.icon-sticky-note-o:before {
  content: "\f24a";
}
.oc-icon-cc-jcb:before,
.icon-cc-jcb:before {
  content: "\f24b";
}
.oc-icon-cc-diners-club:before,
.icon-cc-diners-club:before {
  content: "\f24c";
}
.oc-icon-clone:before,
.icon-clone:before {
  content: "\f24d";
}
.oc-icon-balance-scale:before,
.icon-balance-scale:before {
  content: "\f24e";
}
.oc-icon-hourglass-o:before,
.icon-hourglass-o:before {
  content: "\f250";
}
.oc-icon-hourglass-1:before,
.icon-hourglass-1:before,
.oc-icon-hourglass-start:before,
.icon-hourglass-start:before {
  content: "\f251";
}
.oc-icon-hourglass-2:before,
.icon-hourglass-2:before,
.oc-icon-hourglass-half:before,
.icon-hourglass-half:before {
  content: "\f252";
}
.oc-icon-hourglass-3:before,
.icon-hourglass-3:before,
.oc-icon-hourglass-end:before,
.icon-hourglass-end:before {
  content: "\f253";
}
.oc-icon-hourglass:before,
.icon-hourglass:before {
  content: "\f254";
}
.oc-icon-hand-grab-o:before,
.icon-hand-grab-o:before,
.oc-icon-hand-rock-o:before,
.icon-hand-rock-o:before {
  content: "\f255";
}
.oc-icon-hand-stop-o:before,
.icon-hand-stop-o:before,
.oc-icon-hand-paper-o:before,
.icon-hand-paper-o:before {
  content: "\f256";
}
.oc-icon-hand-scissors-o:before,
.icon-hand-scissors-o:before {
  content: "\f257";
}
.oc-icon-hand-lizard-o:before,
.icon-hand-lizard-o:before {
  content: "\f258";
}
.oc-icon-hand-spock-o:before,
.icon-hand-spock-o:before {
  content: "\f259";
}
.oc-icon-hand-pointer-o:before,
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.oc-icon-hand-peace-o:before,
.icon-hand-peace-o:before {
  content: "\f25b";
}
.oc-icon-trademark:before,
.icon-trademark:before {
  content: "\f25c";
}
.oc-icon-registered:before,
.icon-registered:before {
  content: "\f25d";
}
.oc-icon-creative-commons:before,
.icon-creative-commons:before {
  content: "\f25e";
}
.oc-icon-gg:before,
.icon-gg:before {
  content: "\f260";
}
.oc-icon-gg-circle:before,
.icon-gg-circle:before {
  content: "\f261";
}
.oc-icon-tripadvisor:before,
.icon-tripadvisor:before {
  content: "\f262";
}
.oc-icon-odnoklassniki:before,
.icon-odnoklassniki:before {
  content: "\f263";
}
.oc-icon-odnoklassniki-square:before,
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.oc-icon-get-pocket:before,
.icon-get-pocket:before {
  content: "\f265";
}
.oc-icon-wikipedia-w:before,
.icon-wikipedia-w:before {
  content: "\f266";
}
.oc-icon-safari:before,
.icon-safari:before {
  content: "\f267";
}
.oc-icon-chrome:before,
.icon-chrome:before {
  content: "\f268";
}
.oc-icon-firefox:before,
.icon-firefox:before {
  content: "\f269";
}
.oc-icon-opera:before,
.icon-opera:before {
  content: "\f26a";
}
.oc-icon-internet-explorer:before,
.icon-internet-explorer:before {
  content: "\f26b";
}
.oc-icon-tv:before,
.icon-tv:before,
.oc-icon-television:before,
.icon-television:before {
  content: "\f26c";
}
.oc-icon-contao:before,
.icon-contao:before {
  content: "\f26d";
}
.oc-icon-500px:before,
.icon-500px:before {
  content: "\f26e";
}
.oc-icon-amazon:before,
.icon-amazon:before {
  content: "\f270";
}
.oc-icon-calendar-plus-o:before,
.icon-calendar-plus-o:before {
  content: "\f271";
}
.oc-icon-calendar-minus-o:before,
.icon-calendar-minus-o:before {
  content: "\f272";
}
.oc-icon-calendar-times-o:before,
.icon-calendar-times-o:before {
  content: "\f273";
}
.oc-icon-calendar-check-o:before,
.icon-calendar-check-o:before {
  content: "\f274";
}
.oc-icon-industry:before,
.icon-industry:before {
  content: "\f275";
}
.oc-icon-map-pin:before,
.icon-map-pin:before {
  content: "\f276";
}
.oc-icon-map-signs:before,
.icon-map-signs:before {
  content: "\f277";
}
.oc-icon-map-o:before,
.icon-map-o:before {
  content: "\f278";
}
.oc-icon-map:before,
.icon-map:before {
  content: "\f279";
}
.oc-icon-commenting:before,
.icon-commenting:before {
  content: "\f27a";
}
.oc-icon-commenting-o:before,
.icon-commenting-o:before {
  content: "\f27b";
}
.oc-icon-houzz:before,
.icon-houzz:before {
  content: "\f27c";
}
.oc-icon-vimeo:before,
.icon-vimeo:before {
  content: "\f27d";
}
.oc-icon-black-tie:before,
.icon-black-tie:before {
  content: "\f27e";
}
.oc-icon-fonticons:before,
.icon-fonticons:before {
  content: "\f280";
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=1.0.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=1.0.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=1.0.1') format('woff'), url('font/fontawesome-webfont.ttf?v=1.0.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
[class^="oc-icon-"]:before,
[class*=" oc-icon-"]:before {
  display: inline-block;
  margin-right: 8px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  vertical-align: baseline;
}
[class^="oc-icon-"].empty:before,
[class*=" oc-icon-"].empty:before {
  margin-right: 0;
}
.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
tr.rowlink td {
  cursor: pointer;
}
tr.rowlink td.nolink {
  cursor: auto;
}
.table tbody tr.rowlink:hover td {
  background-color: #f5f5f5;
}
a.rowlink {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #f9f9f9;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
table.table.data {
  font-size: 13px;
}
table.table.data.no-offset-bottom {
  margin-bottom: 0!important;
}
table.table.data thead {
  background: #ffffff;
}
table.table.data thead td,
table.table.data thead th {
  border-width: 1px;
  border-top: 1px solid #D4D8DA !important;
  border-bottom: 2px solid #D4D8DA !important;
  border-color: #D4D8DA;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px;
  white-space: nowrap;
}
table.table.data thead td > a,
table.table.data thead th > a,
table.table.data thead td > span,
table.table.data thead th > span {
  display: block;
  padding: 13px 15px;
  color: #666666;
  text-decoration: none;
}
table.table.data thead td > a:hover,
table.table.data thead th > a:hover,
table.table.data thead td > span:hover,
table.table.data thead th > span:hover {
  color: #000000;
}
table.table.data thead td.sort-desc > span:after,
table.table.data thead th.sort-desc > span:after,
table.table.data thead td.sort-desc > a:after,
table.table.data thead th.sort-desc > a:after {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: baseline;
  opacity: 0.4;
  filter: alpha(opacity=40);
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f107";
}
table.table.data thead td.sort-desc > span:hover:after,
table.table.data thead th.sort-desc > span:hover:after,
table.table.data thead td.sort-desc > a:hover:after,
table.table.data thead th.sort-desc > a:hover:after {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
table.table.data thead td.sort-asc > span:after,
table.table.data thead th.sort-asc > span:after,
table.table.data thead td.sort-asc > a:after,
table.table.data thead th.sort-asc > a:after {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: baseline;
  opacity: 0.4;
  filter: alpha(opacity=40);
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f106";
}
table.table.data thead td.sort-asc > span:hover:after,
table.table.data thead th.sort-asc > span:hover:after,
table.table.data thead td.sort-asc > a:hover:after,
table.table.data thead th.sort-asc > a:hover:after {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
table.table.data thead td.active,
table.table.data thead th.active {
  background-color: inherit;
}
table.table.data thead td.active > span:after,
table.table.data thead th.active > span:after,
table.table.data thead td.active > a:after,
table.table.data thead th.active > a:after {
  color: #c63e26;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
table.table.data thead tr th:first-child {
  padding-left: 10px;
}
table.table.data thead tr th:last-child a {
  padding-right: 25px;
}
table.table.data thead .list-checkbox .custom-checkbox {
  top: -20px;
}
table.table.data tbody tr:nth-child(even) td,
table.table.data tbody tr:nth-child(even) th {
  background-color: #ECF0F1;
}
table.table.data tbody td,
table.table.data tbody th {
  padding: 12px 15px;
  color: #666666;
  border-top: 2px solid white;
}
table.table.data tbody td a:not(.btn),
table.table.data tbody th a:not(.btn) {
  color: #666666;
}
table.table.data tbody td a:not(.btn):hover,
table.table.data tbody th a:not(.btn):hover {
  text-decoration: none;
}
table.table.data tbody td div.progress,
table.table.data tbody th div.progress {
  position: relative;
  overflow: visible;
  height: auto;
  margin-bottom: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.table.data tbody td div.progress div.bar,
table.table.data tbody th div.progress div.bar {
  position: absolute;
  left: -15px;
  top: -11px;
  bottom: -11px;
  background: #0181b9;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
table.table.data tbody td div.progress a,
table.table.data tbody th div.progress a {
  position: relative;
}
table.table.data tbody tr:first-child th,
table.table.data tbody tr:first-child td {
  border-top-width: 0;
}
table.table.data tbody tr:last-child th,
table.table.data tbody tr:last-child td {
  border-bottom-width: 0;
}
table.table.data tbody tr td:first-child {
  border-left: 3px solid transparent;
  padding-left: 22px;
}
table.table.data tbody tr.active td {
  color: #000000;
}
table.table.data tbody tr.active td:first-child {
  border-left: 3px solid #ff9933;
}
table.table.data tbody tr:not(.no-data):hover td,
table.table.data tbody tr:not(.no-data).selected td {
  background: #4da7e8 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: white;
}
table.table.data tbody tr:not(.no-data):hover td a:not(.btn),
table.table.data tbody tr:not(.no-data).selected td a:not(.btn),
table.table.data tbody tr:not(.no-data):hover td span,
table.table.data tbody tr:not(.no-data).selected td span,
table.table.data tbody tr:not(.no-data):hover td i[class^="icon-"],
table.table.data tbody tr:not(.no-data).selected td i[class^="icon-"] {
  color: white;
}
table.table.data tbody tr:not(.no-data):active td {
  background: #4596d1 !important;
  color: white;
}
table.table.data tbody tr.hidden td,
table.table.data tbody tr.hidden th,
table.table.data tbody tr.hidden td a,
table.table.data tbody tr.hidden th a {
  display: none;
}
table.table.data tbody tr.strike td,
table.table.data tbody tr.strike th,
table.table.data tbody tr.strike td a,
table.table.data tbody tr.strike th a {
  text-decoration: line-through;
}
table.table.data tbody tr.frozen td,
table.table.data tbody tr.frozen th,
table.table.data tbody tr.frozen td a,
table.table.data tbody tr.frozen th a {
  color: #337ab7;
}
table.table.data tbody tr.processing td,
table.table.data tbody tr.processing th,
table.table.data tbody tr.processing td a,
table.table.data tbody tr.processing th a {
  color: #666666;
}
table.table.data tbody tr.negative td,
table.table.data tbody tr.negative th,
table.table.data tbody tr.negative td a,
table.table.data tbody tr.negative th a {
  color: #b2341c;
}
table.table.data tbody tr.positive td,
table.table.data tbody tr.positive th,
table.table.data tbody tr.positive td a,
table.table.data tbody tr.positive th a {
  color: #278731;
}
table.table.data tbody tr.disabled td,
table.table.data tbody tr.deleted td,
table.table.data tbody tr.disabled th,
table.table.data tbody tr.deleted th,
table.table.data tbody tr.disabled td a,
table.table.data tbody tr.deleted td a,
table.table.data tbody tr.disabled th a,
table.table.data tbody tr.deleted th a {
  color: #888888;
}
table.table.data tbody tr.new td,
table.table.data tbody tr.important td,
table.table.data tbody tr.new th,
table.table.data tbody tr.important th,
table.table.data tbody tr.new td a,
table.table.data tbody tr.important td a,
table.table.data tbody tr.new th a,
table.table.data tbody tr.important th a {
  font-weight: 600;
}
table.table.data tbody tr.safe td,
table.table.data tbody tr.special td,
table.table.data tbody tr.safe th,
table.table.data tbody tr.special th,
table.table.data tbody tr.safe td a,
table.table.data tbody tr.special td a,
table.table.data tbody tr.safe th a,
table.table.data tbody tr.special th a {
  color: #98a7a8;
}
table.table.data tbody td.column-break-word {
  word-wrap: break-word;
  word-break: break-all;
}
table.table.data tbody td.column-single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.table.data tbody td.column-slim {
  padding-left: 0;
  padding-right: 0;
}
table.table.data tbody td.column-compact {
  padding: 0;
}
table.table.data tbody td.column-button {
  padding: 5px;
}
table.table.data tbody.icons td i[class^="icon-"] {
  display: inline-block;
  margin-right: 7px;
  font-size: 15px;
  color: #95a5a6;
  position: relative;
  top: 1px;
}
table.table.data tbody.clickable {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.table.data.no-active-indicator tbody tr td:first-child {
  border-left: none;
}
table.table.data tfoot a {
  color: #666666;
  text-decoration: none;
}
table.table.data tfoot td,
table.table.data tfoot th {
  border-color: #D4D8DA;
  padding: 10px 15px;
}
table.table.data th.list-cell-type-switch,
table.table.data td.list-cell-type-switch {
  text-align: center;
}
table.table.data .list-checkbox {
  width: 52px;
  vertical-align: top;
  border-right: 1px solid #eeeeee;
}
table.table.data .list-checkbox .checkbox {
  margin: 0;
  min-height: 0;
}
table.table.data .list-checkbox .custom-checkbox {
  position: relative;
  top: -14px;
  left: -2px;
}
table.table.data .list-checkbox .custom-checkbox label {
  margin-right: 0;
  margin-bottom: 0;
}
table.table.data tbody tr td.list-checkbox {
  padding-left: 17px;
  padding-right: 3px;
}
table.table.data thead tr th.list-checkbox {
  padding: 18px 0 0 20px;
}
table.table.data .list-tree {
  width: 10px;
  padding: 0;
}
table.table.data .list-tree a.list-expand-collapse {
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 5px;
  left: 10px;
  text-decoration: none !important;
}
table.table.data tr.list-tree-level-1 a.list-expand-collapse {
  left: 30px;
}
table.table.data tr.list-tree-level-1 td.list-cell-index-1 {
  padding-left: 35px;
}
table.table.data tr.list-tree-level-2 a.list-expand-collapse {
  left: 40px;
}
table.table.data tr.list-tree-level-2 td.list-cell-index-1 {
  padding-left: 45px;
}
table.table.data tr.list-tree-level-3 a.list-expand-collapse {
  left: 50px;
}
table.table.data tr.list-tree-level-3 td.list-cell-index-1 {
  padding-left: 55px;
}
table.table.data tr.list-tree-level-4 a.list-expand-collapse {
  left: 60px;
}
table.table.data tr.list-tree-level-4 td.list-cell-index-1 {
  padding-left: 65px;
}
table.table.data tr.list-tree-level-5 a.list-expand-collapse {
  left: 70px;
}
table.table.data tr.list-tree-level-5 td.list-cell-index-1 {
  padding-left: 75px;
}
table.table.data tr.list-tree-level-6 a.list-expand-collapse {
  left: 80px;
}
table.table.data tr.list-tree-level-6 td.list-cell-index-1 {
  padding-left: 85px;
}
table.table.data tr.list-tree-level-7 a.list-expand-collapse {
  left: 90px;
}
table.table.data tr.list-tree-level-7 td.list-cell-index-1 {
  padding-left: 95px;
}
table.table.data tr.list-tree-level-8 a.list-expand-collapse {
  left: 100px;
}
table.table.data tr.list-tree-level-8 td.list-cell-index-1 {
  padding-left: 105px;
}
table.table.data tr.list-tree-level-9 a.list-expand-collapse {
  left: 110px;
}
table.table.data tr.list-tree-level-9 td.list-cell-index-1 {
  padding-left: 115px;
}
table.table.data tr.list-tree-level-10 a.list-expand-collapse {
  left: 120px;
}
table.table.data tr.list-tree-level-10 td.list-cell-index-1 {
  padding-left: 125px;
}
.list-preview {
  padding: 0;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #D4D8DA;
}
.list-preview .list-header:first-child {
  padding-top: 20px;
}
.list-preview .control-list:last-child > table {
  margin-bottom: 0;
}
.list-flush table.table.data thead tr th {
  border-top: none !important;
}
.control-list p.no-data {
  padding: 18px 20px;
  margin: 0 20px;
  color: #555555;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.control-list table.table.data .list-setup {
  width: 48px;
}
.control-list table.table.data .list-setup a {
  display: block;
  color: #000000;
}
.control-list table.table.data .list-setup a:before {
  font-size: 14px;
  line-height: 14px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0ca";
  display: inline-block;
  margin-left: 8px;
  vertical-align: baseline;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.control-list table.table.data .list-setup a:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #4da7e8 !important;
}
.control-list table.table.data .list-pagination {
  font-size: 14px;
  text-align: right;
  padding-top: 20px;
}
.control-list table.table.data .list-pagination .loading-indicator div {
  margin-left: 20px;
  font-size: 12px;
}
.list-header {
  background-color: transparent;
  padding: 0 20px 1px 20px;
}
.list-header h3 {
  font-size: 14px;
  color: #7e8c8d;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
}
.report-widget .table-container {
  margin: -15px;
}
.report-widget .table-container table.table.data {
  margin-bottom: 0;
}
.report-widget .table-container table.table.data thead tr th {
  border-top: none !important;
}
.report-widget .table-container table.table.data tbody tr:nth-child(even) td,
.report-widget .table-container table.table.data tbody tr:nth-child(even) th {
  background-color: transparent;
}
.list-scrollable-container {
  position: relative;
}
.list-scrollable-container:after,
.list-scrollable-container:before {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  height: 9px;
  font-size: 10px;
  color: #666666;
}
.list-scrollable-container:before {
  left: -6px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f104";
}
.list-scrollable-container:after {
  right: -8px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
}
.list-scrollable-container.scroll-before:before {
  display: block;
}
.list-scrollable-container.scroll-after:after {
  display: block;
}
.list-scrollable-container:after,
.list-scrollable-container:before {
  margin-top: 0;
  height: 40px;
  padding: 13px 10px;
  background: #fff;
  top: 1px;
}
.list-scrollable-container:before {
  left: 0;
}
.list-scrollable-container:after {
  right: 0;
}
.list-scrollable-container > .list-scrollable {
  overflow: hidden;
}
.control-balloon-selector ul {
  padding: 0;
  margin-top: -5px;
}
.control-balloon-selector ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 7px 5px;
  margin-right: 5px;
  margin-top: 6px;
  text-transform: uppercase;
  background: #bcc3c7;
  color: #ffffff;
  font-size: 10px;
  line-height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.control-balloon-selector ul li.active {
  background: #da5700 !important;
}
.control-balloon-selector.control-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.control-balloon-selector:not(.control-disabled) ul li:hover {
  background: #0181b9;
  cursor: pointer;
}
.form-group .control-balloon-selector ul {
  margin-bottom: 0;
}
.custom-checkbox.nolabel label,
.custom-radio.nolabel label {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.custom-checkbox,
.custom-radio {
  padding-left: 23px;
  margin-top: 0;
}
.custom-checkbox input[type=radio],
.custom-radio input[type=radio],
.custom-checkbox input[type=checkbox],
.custom-radio input[type=checkbox] {
  display: none;
}
.custom-checkbox label,
.custom-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-left: -20px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox label:before,
.custom-radio label:before {
  content: "";
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  position: absolute;
  left: -3px;
  top: 0;
  background-color: #FFFFFF;
  border: 1px solid #BDC3C7;
  -webkit-box-shadow: inset 0 1px 0 #BDC3C7, 0 1px 0 rgba(255,255,255,.5);
  box-shadow: inset 0 1px 0 #BDC3C7, 0 1px 0 rgba(255,255,255,.5);
}
.custom-checkbox label:hover:before,
.custom-radio label:hover:before {
  border-color: #a1aab0;
}
.custom-checkbox label:active:before,
.custom-radio label:active:before {
  border-color: #869198;
  border-width: 2px;
}
.custom-checkbox input[type=radio]:checked + label:before,
.custom-radio input[type=radio]:checked + label:before {
  border-color: #1F99DC;
  line-height: 17px;
  border-width: 2px;
}
.custom-checkbox input[type=radio]:checked + label:after,
.custom-radio input[type=radio]:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #1F99DC;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}
.custom-checkbox input[type=radio][data-radio-color=green]:checked + label:before,
.custom-radio input[type=radio][data-radio-color=green]:checked + label:before {
  border-color: #76A544;
}
.custom-checkbox input[type=radio][data-radio-color=green]:checked + label:after,
.custom-radio input[type=radio][data-radio-color=green]:checked + label:after {
  background-color: #76A544;
}
.custom-checkbox input[type=radio][data-radio-color=red]:checked + label:before,
.custom-radio input[type=radio][data-radio-color=red]:checked + label:before {
  border-color: #BB2424;
}
.custom-checkbox input[type=radio][data-radio-color=red]:checked + label:after,
.custom-radio input[type=radio][data-radio-color=red]:checked + label:after {
  background-color: #BB2424;
}
.custom-checkbox input[type=checkbox]:indeterminate + label:before,
.custom-radio input[type=checkbox]:indeterminate + label:before,
.custom-checkbox input[type=checkbox]:checked + label:before,
.custom-radio input[type=checkbox]:checked + label:before {
  border-color: #1F99DC;
  background-color: #1F99DC;
  font-size: 12px;
  line-height: 17px;
  border-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-checkbox input[type=checkbox]:checked + label:before,
.custom-radio input[type=checkbox]:checked + label:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f00c";
}
.custom-checkbox input[type=checkbox]:indeterminate + label:before,
.custom-radio input[type=checkbox]:indeterminate + label:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f068";
}
.custom-checkbox input:disabled + label:before,
.custom-radio input:disabled + label:before {
  border: 1px solid #BDC3C7 !important;
}
.custom-checkbox input:disabled:checked + label:before,
.custom-radio input:disabled:checked + label:before {
  background-color: #999;
}
.custom-checkbox:focus,
.custom-radio:focus {
  outline: none;
}
.custom-checkbox:focus label:before,
.custom-radio:focus label:before {
  border-color: #3498db;
}
.custom-checkbox p.help-block,
.custom-radio p.help-block {
  padding-left: 6px;
  margin-bottom: 17px;
}
.custom-radio label:before {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.custom-checkbox label:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.switch-field .field-switch {
  padding-left: 85px;
  float: left;
}
.switch-field .field-switch > label {
  margin-top: 3px;
}
.custom-switch {
  display: block;
  width: 65px;
  height: 26px;
  position: relative;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.custom-switch * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-switch.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.custom-switch .slide-button {
  z-index: 4;
  display: block;
  position: absolute;
  right: 42px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #f6f6f6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.custom-switch label,
.custom-switch > span {
  line-height: 23px;
  vertical-align: middle;
}
.custom-switch label {
  z-index: 3;
  width: 100%;
  display: block;
  position: relative;
}
.custom-switch input {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.custom-switch input:checked ~ .slide-button {
  right: 4px;
}
.custom-switch input:checked ~ span {
  background-color: #76A544;
}
.custom-switch input:checked ~ span span:first-of-type {
  color: #FFFFFF;
  display: block;
}
.custom-switch input:checked ~ span span:last-of-type {
  color: #666666;
  display: none;
}
.custom-switch > span {
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #BB2424;
  font-size: 12px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.custom-switch > span span {
  z-index: 5;
  display: block;
  width: 50%;
  position: absolute;
  top: 2px;
  left: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-switch > span span:last-child {
  left: 28px;
  color: #FFFFFF;
  display: block;
}
.custom-switch > span span:first-of-type {
  padding-left: 13px;
  display: none;
  color: #666666;
}
/*# sourceMappingURL=list.css.map */