<tr>
    {% if showCheckboxes %}
        <th class="list-checkbox">
            <div class="checkbox custom-checkbox nolabel">
                <input type="checkbox" id="{{ __SELF__.getId('checkboxAll') }}" />
                <label for="{{ __SELF__.getId('checkboxAll') }}"></label>
            </div>
        </th>
    {% endif %}

    {% if showTree %}
        <th class="list-tree">
            <span></span>
        </th>
    {% endif %}

    {% for key, column in columns  %}
        {% if showSorting and column.sortable %}
            <th
                {% if column.width %} style="width: {{ column.width }}"{% endif %}
                class="{{ sortColumn == column.columnName ? 'sort-'~sortDirection~' active':'sort-desc' }}
                list-cell-name-{{ column.getName() }}
                list-cell-type-{{ column.type }}"
                >
                <a
                    href="javascript:;"
                    data-request="{{  __SELF__.getEventHandler('onSort') }}"
                    data-stripe-load-indicator
                    data-request-data="sortColumn: '{{ column.columnName }}', page: {{ pageCurrent }}">
                    {{  __SELF__.getHeaderValue(column) }}
                </a>
            </th>
        {% else %}
            <th
                {% if column.width %} style="width: {{ column.width }}"{% endif %}
                class="list-cell-name-{{ column.getName() }} list-cell-type-{{ column.type }}"
                >
                <span>{{  __SELF__.getHeaderValue(column) }}</span>
            </th>
        {% endif %}
    {% endfor %}

    {% if showSetup %}
        <th class="list-setup">
            <a href="javascript:;"
               title="List setup"
               data-control="popup"
               data-handler="{{ __SELF__.getEventHandler('onLoadSetup') }}"></a>
        </th>
    {% endif %}
</tr>
