<div class="loading-indicator-container size-small pull-right">
    <div class="control-pagination">
        <span class="page-iteration">
            {{ 'Displayed records: :from-:to of :total'|__(2, { from: pageFrom, to: pageTo, total: recordTotal }) }}
        </span>
        {% if pageCurrent > 1 %}
        <a
                href="javascript:;"
                class="page-back"
                data-request="{{ __SELF__.getEventHandler('onPaginate') }}"
                data-request-data="page: {{ pageCurrent-1 }}"
                data-load-indicator="{{ 'Loading'|_ }}"
                title="{{ 'Previous page'|_ }}"></a>
        {% endif %}
        {% if pageLast > pageCurrent %}
        <a
                href="javascript:;"
                class="page-next"
                data-request-data="page: {{ pageCurrent+1 }}"
                data-request="{{ __SELF__.getEventHandler('onPaginate') }}"
                data-load-indicator="Loading"
                title="{{ 'Next page'|_ }}"></a>
        {% endif %}
    </div>
</div>