<td class="list-tree nolink">
    <a
        href="javascript:;"
        class="list-expand-collapse"
        data-request="{{ __SELF__.getEventHandler('onToggleTreeNode') }}"
        data-stripe-load-indicator
        data-request-data="node_id: '{{ record.id }}', status: {{ expanded ? 1 : 0 }}">
        {% if not childCount %}
            <i class="icon-square-o"></i>
        {% elseif expanded %}
            <i class="icon-minus-square-o"></i>
        {% else %}
            <i class="icon-plus-square-o"></i>
        {% endif %}
    </a>
</td>