<td class="list-checkbox nolink">
    <div class="checkbox custom-checkbox nolabel">
        <input
                type="checkbox"
                name="checked[]"
                id="{{ __SELF__.getId('checkbox-' ~ record.getKey()) }}"
                value="{{ record.getKey() }}" />
        <label for="{{ __SELF__.getId('checkbox-' ~ record.getKey()) }}">{{ 'Check'|_ }}</label>
    </div>
</td>
