<div class="control-list list-scrollable" data-control="listwidget">
    <table class="table data" data-control="rowlink">
        <thead>
            {% partial __SELF__ ~ '::_list_head_row' %}
        </thead>
        <tbody>
            {% if records %}
                {% partial __SELF__ ~ '::_list_body_rows' %}
            {% else %}
                <tr class="no-data">
                    <td colspan="{{ columnTotal }}" class="list-pagination nolink">
                        <p class="no-data">{{ noRecordsMessage }}</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            {% if showPagination %}
                <tr>
                    <td colspan="{{ columnTotal }}" class="list-pagination nolink">
                        {% partial __SELF__ ~ '::_list_pagination' %}
                    </td>
                </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
