{% if showTree %}
    {% set expanded = __SELF__.isTreeNodeExpanded(record) %}
    {% set childRecords = __SELF__.getChildren() %}
{% endif %}

<tr class="list-tree-level-{{ treeLevel }} {{ __SELF__.getRowClass(record) }}">

    {% if showCheckboxes %}
        {% partial __SELF__ ~ '::_list_body_checkbox' record=record %}
    {% endif %}

    {% if showTree %}
        {% partial __SELF__ ~ '::_list_body_tree'
            record=record
            expanded=expanded
            childCount=record.getChildCount()
        %}
    {% endif %}

    {% for column in columns %}
        <td data-title="{{ column.label|e|_ }}" class="list-cell-index-{{ loop.index }} list-cell-name-{{ column.getName() }} list-cell-type-{{ column.type }} {{ column.clickable ? '' : 'nolink' }} {{ column.cssClass }} ">
            {% if column.clickable and not url %}
                {% set url = __SELF__.getRecordUrl(record) %}
                <a {{ __SELF__.getRecordOnClick(record)|raw }} href="{{ url }}">
                    {{ __SELF__.getColumnValue(record, column)|raw }}
                </a>
            {% else %}
                {{ __SELF__.getColumnValue(record, column)|raw }}
            {% endif %}
        </td>
    {% endfor %}

    {% if showSetup %}
        <td class="list-setup">&nbsp;</td>
    {% endif %}
</tr>
{% if showTree and expanded %}
    {% partial __SELF__ ~ '::list_body_rows'
        records=childRecords
        treeLevel=treeLevel+1
    %}
{% endif %}